blinker
boto3
botocore
certifi
charset-normalizer
click
dash
dash-bootstrap-components
dash-mantine-components
git+https://github.com/DarienNouri/dash-ec2-wrapper.git
dash-ag-grid
envyaml
flask
gunicorn
idna
importlib-metadata
itsdangerous
jinja2
jmespath
markupsafe
nest-asyncio
numpy
packaging
pandas
plotly
python-dateutil
pytz
pyyaml
requests
retrying
s3transfer
scipy
setuptools
six
tenacity
typing-extensions
tzdata
urllib3
werkzeug
zipp
statsmodels